<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">To Do List</a>
      <ul class="left hide-on-med-and-down">
        <li class="<%= path === '/todo/tasks' ? 'active' : '' %>"><a href="/todo/tasks">List</a></li>
        <li class="<%= path === '/todo/add-task' ? 'active' : '' %>"><a href="/todo/add-task">Add Task</a></li>
      </ul>
    </div>
  </nav>
</header>