<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">To Do List</a>
      <ul class="left hide-on-med-and-down">
        <li class="<%= path === '/todo/items' ? 'active' : '' %>"><a href="/todo/items">List</a></li>
        <li class="<%= path === '/todo/add-item' ? 'active' : '' %>"><a href="/todo/add-item">Add Task</a></li>
      </ul>
    </div>
  </nav>
</header>