<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Document</title>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>

  <main>

    <div class="container">

      <% if(items.length > 0) { %>

        <ul class="collection">

          <% for (let item of items) { %>
            <li class="collection-item">
              <%= item.description %>
            </li>  
          <% } %>
<!-- 
          <a href="#!" class="collection-item">Alvin</a>
          <a href="#!" class="collection-item active">Alvin</a>
          <a href="#!" class="collection-item">Alvin</a>
          <a href="#!" class="collection-item">Alvin</a> -->
        </ul>  

      <% } else { %>

        <h1>No Items found!</h1>

      <% } %>  

    </div>

  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>